.titre-portfolio{
  font-family: Playfair Display, 'Times New Roman', Times, serif;
  font-size: 60px;
  text-align: center;
  margin: 70px 0 70px;
  color: #000;
}
.grille-portfolio{
  width: 90%;
  max-width: 1700px;
  min-width: 300px;
  height: auto;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
}
.grid-item{
  height: 250px;
  cursor: pointer;
  position: relative;
  margin: 30px 15px;
}
.grid-item img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.description{
  position: absolute;
  top: -25px;
  left: 0px;
  font-size: 18px;
}
.prix{
  position: absolute;
  top: -27px;
  right: 0px;
  font-size: 23px;
  font-weight: bold;
}

@media screen and (max-width:550px) {
  .grille-portfolio{
    grid-template-columns: repeat(auto-fill, 300px);
  }
  h1{
    font-size: 30px;
  }
}

.slider-portfolio{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, #333, #000);
}
.btn-close-slider{
  position: absolute;
  top: 3%;
  right: 2%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 30px;
  outline: none;
  border: none;
  background: #000;
  color: #fff;
  border: 1px solid #fff;
}
.btn-left, .btn-right{
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 30px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-left{
  left: 4%;
}
.btn-right{
  right: 2%;
}
button{
  cursor: pointer;
}

.btn-left img, .btn-right img{
  width: 30px;
  height: 30px;
}
.img-display{
  width: 60%;
  height: 700px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
